version: '3.8'

services:
  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_UESR: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: taskdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      DATABASE_URL: postgres://user:pass@db:5432/taskdb?sslmode=disable
      PORT: 8080
    depends_on:
      - db

volumes:
  pgdata:
